In [48]:
import json
import pandas as pd
import matplotlib.pyplot as plt

# Explore type of videos

In [18]:
with open("../data/US_category_id.json") as json_input:
    categories = json.load(json_input)

print("Categories:")
categories_mapping = {}
for c in categories['items']:
    print(f"{c['snippet']['title']}, id: {c['id']}")
    categories_mapping[int(c['id'])] = c['snippet']['title']
    
print(categories_mapping)
#Music, id: 10

Categories:
Film & Animation, id: 1
Autos & Vehicles, id: 2
Music, id: 10
Pets & Animals, id: 15
Sports, id: 17
Short Movies, id: 18
Travel & Events, id: 19
Gaming, id: 20
Videoblogging, id: 21
People & Blogs, id: 22
Comedy, id: 23
Entertainment, id: 24
News & Politics, id: 25
Howto & Style, id: 26
Education, id: 27
Science & Technology, id: 28
Nonprofits & Activism, id: 29
Movies, id: 30
Anime/Animation, id: 31
Action/Adventure, id: 32
Classics, id: 33
Comedy, id: 34
Documentary, id: 35
Drama, id: 36
Family, id: 37
Foreign, id: 38
Horror, id: 39
Sci-Fi/Fantasy, id: 40
Thriller, id: 41
Shorts, id: 42
Shows, id: 43
Trailers, id: 44
{1: 'Film & Animation', 2: 'Autos & Vehicles', 10: 'Music', 15: 'Pets & Animals', 17: 'Sports', 18: 'Short Movies', 19: 'Travel & Events', 20: 'Gaming', 21: 'Videoblogging', 22: 'People & Blogs', 23: 'Comedy', 24: 'Entertainment', 25: 'News & Politics', 26: 'Howto & Style', 27: 'Education', 28: 'Science & Technology', 29: 'Nonprofits & Activism', 30: 'Movies', 31: 'Anime/Animation', 32: 'Action/Adventure', 33: 'Classics', 34: 'Comedy', 35: 'Documentary', 36: 'Drama', 37: 'Family', 38: 'Foreign', 39: 'Horror', 40: 'Sci-Fi/Fantasy', 41: 'Thriller', 42: 'Shorts', 43: 'Shows', 44: 'Trailers'}

In [19]:
column_list = ['video_id', 'title', 'channel_title', 'category_id']
videos = pd.read_csv("../data/USvideos.csv", usecols=column_list, error_bad_lines=False)
print(videos.columns)

videos.describe()

Index(['video_id', 'title', 'channel_title', 'category_id'], dtype='object')

       category_id
count  7998.000000
mean     20.217679
std       7.415364
min       1.000000
25%      17.000000
50%      23.000000
75%      25.000000
max      43.000000

Many entries are repeated for the same videos but taken in different dates. 
We will keep only one entry for each videoID

In [20]:
videos = videos.drop_duplicates()

In [21]:
#Add category column as a name
category_name = []
for index, row in videos.iterrows():
    category_name.append(categories_mapping[int(row['category_id'])])

videos['category_name'] = category_name

videos.describe()

       category_id
count  2408.000000
mean     20.436047
std       7.226186
min       1.000000
25%      17.000000
50%      24.000000
75%      25.000000
max      43.000000

In [22]:
videos.head()

,video_id,title,channel_title,category_id,category_name
0,XpVt6Z1Gjjo,1 YEAR OF VLOGGING -- HOW LOGAN PAUL CHANGED Y...,Logan Paul Vlogs,24,Entertainment
1,K4wEI5zhHB0,iPhone X — Introducing iPhone X — Apple,Apple,28,Science & Technology
2,cLdxuaxaQwc,My Response,PewDiePie,22,People & Blogs
3,WYYvHb03Eog,Apple iPhone X first look,The Verge,28,Science & Technology
4,sjlHnJvXdQs,iPhone X (parody),jacksfilms,23,Comedy

In [23]:
#Count videos per category
videos.groupby(['category_id', 'category_name']).size()

category_id  category_name
1            Film & Animation         101
2            Autos & Vehicles          38
10           Music                    339
15           Pets & Animals            40
17           Sports                   153
19           Travel & Events           18
20           Gaming                    29
22           People & Blogs           259
23           Comedy                   215
24           Entertainment            488
25           News & Politics          199
26           Howto & Style            274
27           Education                 94
28           Science & Technology     155
29           Nonprofits & Activism      5
43           Shows                      1
dtype: int64

339 music videos

# Explore the number of comments for a given category

In [24]:
category = 'Music'
inv_mapping = {v: k for k, v in categories_mapping.items()}

category_id = inv_mapping[category]

category_videos = videos[videos['category_id']== category_id] 
category_videos.head()

,video_id,title,channel_title,category_id,category_name
20,-Ifnaxi2LQg,Fergie - You Already Know ft. Nicki Minaj,FergieVEVO,10,Music
24,JhA1Wi9mrns,Kid Rock - Tennessee Mountain Top [Lyrics],Kid Rock,10,Music
30,QBGaO89cBMI,Radiohead - Lift,Radiohead,10,Music
41,O78Lpo4ctSE,LANY - Super Far (Official Video),LANYVEVO,10,Music
53,eM_FR7I2Ttw,Harry Styles - The Chain (Fleetwood Mac cover)...,BBCRadio1VEVO,10,Music

In [25]:
comments = pd.read_csv("../data/UScomments.csv", error_bad_lines=False)

comments.describe()

b'Skipping line 41589: expected 4 fields, saw 11\nSkipping line 51628: expected 4 fields, saw 7\nSkipping line 114465: expected 4 fields, saw 5\n'
b'Skipping line 142496: expected 4 fields, saw 8\nSkipping line 189732: expected 4 fields, saw 6\nSkipping line 245218: expected 4 fields, saw 7\n'
b'Skipping line 388430: expected 4 fields, saw 5\n'

           video_id comment_text   likes  replies
count        691400       691375  691400   691400
unique         2266       434076    1284      479
top     Hlt3rA-oDao          Lol       0        0
freq            800          310  456894   525730

In [26]:
comments.head()

,video_id,comment_text,likes,replies
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‼️‼️‼️,4,0
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0
4,XpVt6Z1Gjjo,trending 😉,3,0

In [27]:
#Join the two on video_id
comments_category = comments.merge(category_videos, how='right')

In [28]:
comments_category.shape

(118606, 8)

In [29]:
comments_category.head()

,video_id,comment_text,likes,replies,title,channel_title,category_id,category_name
0,-Ifnaxi2LQg,Trash and I like fergie but this shit is not g...,0,0,Fergie - You Already Know ft. Nicki Minaj,FergieVEVO,10,Music
1,-Ifnaxi2LQg,So glad she's back,0,0,Fergie - You Already Know ft. Nicki Minaj,FergieVEVO,10,Music
2,-Ifnaxi2LQg,Nicki Minaj looks like a melted Galaxy bar cov...,0,0,Fergie - You Already Know ft. Nicki Minaj,FergieVEVO,10,Music
3,-Ifnaxi2LQg,"Sorry fergie for my words. but, you are succes...",0,0,Fergie - You Already Know ft. Nicki Minaj,FergieVEVO,10,Music
4,-Ifnaxi2LQg,Sounds like the song You know you like it by ...,0,0,Fergie - You Already Know ft. Nicki Minaj,FergieVEVO,10,Music

Check for missing data in comment_text and remove them

In [38]:
print(comments_category['comment_text'].isna().sum())
video_nan_comment = comments_category[comments_category['comment_text'].isna()]['video_id'].unique()
print(video_nan_comment)
comments[comments['video_id'].isin(video_nan_comment)]

13
['7YAAyUFL1GQ' 'zmg9tVaMVd4' 's3Hk_lDw5yo' '941Bl3oxk8Y' '8I1B4n_8Cto'
 'ZXvbz8cqafM' '-3lMEZ6k5NA' 'AYyXQcuo8wA' 'mP_fKeq_o8A' 'Kn4KUvDzQFg'
 '5gH8iXNW8wE']

,video_id,comment_text,likes,replies
34780,7YAAyUFL1GQ,Who's here before a million views ?,98,12
34781,7YAAyUFL1GQ,'IM PRETTY SURE THUS ISNT HOW THE STORY ENDS'\...,8,0
34782,7YAAyUFL1GQ,This song is keeping me going honestly,0,0
34783,7YAAyUFL1GQ,this band should fall out of a boat,0,0
34784,7YAAyUFL1GQ,"Okay pretty good, the video was far out the mu...",0,0
...,...,...,...,...
639152,8I1B4n_8Cto,With this and his other new stuff Beck is push...,0,0
639153,8I1B4n_8Cto,"Song’s addicting, won’t come out of my head",1,0
639154,8I1B4n_8Cto,i wanna eat some of dat yummy stuff and die,0,0
639155,8I1B4n_8Cto,All of these hands are white... smh,0,0
639156,8I1B4n_8Cto,"Wow, video quality is so bad. Even at 1080p it...",0,0

13 comments have no text. They regard 11 different videos. These videos have other comments with a regular text section.
We just remove the 13 comments without text and keep the others

In [42]:
comments_category = comments_category.dropna(subset=['comment_text'])
print(comments_category['comment_text'].isna().sum())

0

Check for duplicates text

In [62]:
comments_category.pivot_table(columns=['comment_text'], aggfunc='size')

comment_text
 'Literally' 'like' my bestfriend\nCamila wut?🤔                                                                                                                          3
 *But I Will Tell You If I Don't Like You* 🔥                                                                                                                             1
 EVE - Love Is Blind  is better                                                                                                                                          1
 I LIKE IT MORE THAN THE ORIGINAL CLUB HERE :))))                                                                                                                        4
 I be like send me the addy, hop out the Porsche wit a bhaddie, got a nice  face and a fattie,, do what I say like I'm daddy I loveeeee this verse😍😍😍 you bad asffff😍    1
                                                                                                                                                                        ..
🦀 ass nigga, let them crackers pump n up to promote the fuc shyt...                                                                                                      2
🦄❤💘💛💚💙💜🦄                                                                                                                                                                 2
🦄🙌🏾🎉👌🏾                                                                                                                                                                   4
🦋🦋🦋🦋🦋🦋🦋🦋🦋🦋🦋 Sam                                                                                                                                                          1
🧐🧐🧐                                                                                                                                                                      1
Length: 72130, dtype: int64

In [108]:
comments_category[comments_category['comment_text'].isna()]['video_id']

12033     7YAAyUFL1GQ
57234     zmg9tVaMVd4
57374     zmg9tVaMVd4
62369     s3Hk_lDw5yo
87265     941Bl3oxk8Y
103172    8I1B4n_8Cto
103274    8I1B4n_8Cto
118600    ZXvbz8cqafM
118601    -3lMEZ6k5NA
118602    AYyXQcuo8wA
118603    mP_fKeq_o8A
118604    Kn4KUvDzQFg
118605    5gH8iXNW8wE
Name: video_id, dtype: object

# Explore some stats about the comments text

In [57]:
# Average lenght in number of characters
comments_len = comments_category['comment_text'].apply(lambda x: len(str(x)))
comments_len.describe()

count    118593.000000
mean         65.042701
std         162.447460
min           1.000000
25%          19.000000
50%          36.000000
75%          67.000000
max        8163.000000
Name: comment_text, dtype: float64

In [65]:
print(comments_category.loc[78758]['comment_text'])

(The Great and terrible Day of the Lord. When Jesus comes back to take up his bride and punish the UNREPENTANT Sinners of this Earth. Those that trample the blood of Jesus under foot):\n\nFor the stars of heaven \nand the constellations thereof \n\nshall not give their light:\nthe sun shall be darkened \n\nin his going forth,\nand the moon shall not \ncause her light to shine.\n\nAnd I will punish the world for their evil, \nand the wicked for their iniquity;\n\nand I will cause the arrogancy of the proud to cease,\nand will lay low the haughtiness of the terrible.\n\nI will make a man more precious than fine gold; \neven a man than the golden wedge of Ophir.\n\nTherefore I will shake the heavens,\nand the earth shall remove out of her place,\n\nin the wrath of the LORD of hosts,\nand in the day of his fierce anger.\n\n(Isaiah 13:10-13).\n\n(2 Thessalonians 1:7-9)<---And to you who are troubled rest with us, when the Lord Jesus shall be revealed from heaven with his mighty angels, In flaming fire taking vengeance on them that know not God, and that obey not the gospel of our Lord Jesus Christ: In flaming fire taking vengeance on them that know not God, and that obey not the gospel of our Lord Jesus Christ).\n\n(Isaiah 66:15)<---For, behold, the LORD will come with fire, and with his chariots like a whirlwind, to render his anger with fury, and his rebuke with flames of fire.\n\n(Isaiah 29:6)<---Thou shalt be visited of the LORD of hosts with thunder, and with earthquake, and great noise, with storm and tempest, and the flame of devouring fire.\n\n(Revelation 19:12)<---His eyes were as a flame of fire, and on his head were many crowns; and he had a name written, that no man knew, but he himself.\n___________________________________________________________________________________________________________________________\n(REPENTANCE is required to be hidden from the Lords anger/JUDGMENT DAY!):\n\nSeek ye the LORD,\nall ye meek of the earth,\nwho have upheld his justice;\n\nseek righteousness,\nseek meekness:\n\nit may be ye\nshall be hid\n\nin the day of the LORD'S anger.\n\n(Zephaniah 2:3).\n\n***(Seek The Lord): This is the language of true (REPENTANCE), renewal, and regeneration.\n\n***(You will be hidden): Zephaniah used a play on words with meaning of his own name, Hidden in the Lord. Even in the midst of the most calamitous judgment scenes, the mercy and grace of the Lord is still available to a (REPENTANT) people.\n\n***(Luke 13:3)<---Jesus)<---I tell you, Nay: but, except ye (REPENT), ye shall all likewise perish.\n\n***(Luke 5:32)<---(Jesus)<---I came not to call the righteous, but sinners to (REPENTANCE).\n\n***(2 Peter 3:9)<---The Lord is not slack concerning his promise, as some men count slackness; but is longsuffering to us-ward, not willing that any should perish, but that all should come to (REPENTANCE).\n\n***(Romans 2:4)<---Or do you disregard the riches of His kindness, tolerance, and patience, not realizing that God's kindness leads you to (REPENTANCE?)\n\n*** (REPENTANCE):\n\n(Greek. Metanoia); Strong's #3341; This Greek word is a compound word derived from meta, meaning after and suggesting some type of change, and nous, meaning mind. \nThus the word strictly denotes a change of mind.\nBut it also connotes remorse for sin, accompanied by a desire to turn away from one's sin, to God, for salvation.\nBoth John the Baptist and Jesus began their ministries with a call to repentance. (See Matthew 3:2, 4:17)---A call that many of the social outcasts and sinners of that day answered, (See Luke 19:1-10),\nbut that the religious people rejected. (Luke 11:39-44; 18:9-14).\n___________________________________________________________________________________________________________________________\n(Jesus is warning us to be watchful for his Second coming, because people will be asleep and will be partaking in the world and fulfilling the sinful desires of their flesh and not walking according to the spirit):\n\nAnd take heed to yourselves, \nlest at any time your hearts \nbe overcharged with\n\nsurfeiting, \nand drunkenness, \nand cares of this life,\n\nand so that day come upon you unawares.\n\n(The DAY of Jesus return should not take us by surprise. We should live as if it is imminent. Are you going to be a WISE or FOOLISH Virgin???).\n\nFor as a snare \nshall it come on all them \nthat dwell on the face \nof the whole earth.\n\nWatch ye therefore, \nand pray always,\n\nthat ye may be (((accounted worthy)))\n\nto (((escape))) (((all these things))),\n\n(The Wise virgins will go with Jesus when he comes back for his bride. (Revelation 3:10-11)<---Because thou hast kept the word of my patience, I also will keep thee from the hour of temptation, which shall come upon all the world, to try them that dwell upon the earth. Behold, I come quickly: hold that fast which thou hast, that no man take thy crown). (Matthew 13:30)<---Let both grow together until the harvest: and in the time of harvest I will say to the reapers/Angels, Gather ye together first the tares, and bind them in bundles to burn them: but gather the wheat into my barn). (John 14:2-3)<---In my Father's house are many mansions: if it were not so, I would have told you. I go to prepare a place for you. And if I go and prepare a place for you, I will (((come again))), and (((receive you))) (((unto myself))); that where I am, there ye may be also).\n\nthat shall come to pass,\nand to stand before\nthe Son of man.\n\n(Watch...pray): Jesus encouraged his disciples to be persistent in prayer and faith, looking for the day when the Son of Man exonerates the faithful in the judgment, so that they are able to stand before him.\n\n***(1 John 2:28)<---And now, little children, abide in him; that, when he shall appear, we may have confidence, and not be ashamed before him at his coming.\n\n***(John 3:2)<---Beloved, now are we the sons of God, and it doth not yet appear what we shall be: but we know that, when he shall appear, we shall be like him; for we shall see him as he is.\n\n(Luke 21:34-36).\n___________________________________________________________________________________________________________________________\n (REPENTANCE):\n\n(Greek. Metanoia); Strong's #3341; This Greek word is a compound word derived from meta, meaning after and suggesting some type of change, and nous, meaning mind. \nThus the word strictly denotes a change of mind.\nBut it also connotes remorse for sin, accompanied by a desire to turn away from one's sin, to God, for salvation.\nBoth John the Baptist and Jesus began their ministries with a call to repentance. (See Matthew 3:2, 4:17)---A call that many of the social outcasts and sinners of that day answered, (See Luke 19:1-10),\nbut that the religious people rejected. (Luke 11:39-44; 18:9-14).

In [60]:
comments_category[comments_category['comment_text'].apply(lambda x: len(str(x))) >6000]['comment_text']

3881      Like if you're watching in 2016, 2017, 2018, 2...
76709     Featuring Sandra Prescott , Kimberly O'Brien ,...
78758     (The Great and terrible Day of the Lord. When ...
78879     (The Great and terrible Day of the Lord. When ...
78963     (The Great and terrible Day of the Lord. When ...
115887    (JESUS; THE ALMIGHTY!!!):\n\nAnd I saw heaven ...
115964    (JESUS; THE ALMIGHTY!!!):\n\nAnd I saw heaven ...
Name: comment_text, dtype: object